<div class="card">
	<div class="card-header">
		İlanlar.com
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p>Tüm Hakları Saklıdır® Bizi sosyal medya adreslerimizden takip edebilirsiniz.</p>
			<footer class="blockquote-footer">Tüm Hakları <cite title="Source Title">Saklıdır®</cite></footer>
		</blockquote>
	</div>
</div>
