
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">İlanlar.com'a Hoşgeldiniz!</h1>
			<p>Sitemize Hoş Geldiniz.Birbirinden farklı ilanlara göz atarak istediğiniz ve arzu ettiğiniz ev,araba ve birden fazla ilana buradan ulaşabilirsiniz.İyi günler dileriz.</p>
			
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Araba İlanları</h2>
				<p>Bir süredir hayal ettiğiniz arabayı almak mı istiyorsunuz.Araba ilanlarımıza göz atarak birbirinden farklı modelde yer alan araçlara size en uygun fiyat ve performansa göz atabilirsiniz. </p>
				<p><a class="btn btn-secondary" href="/Home/ListAraba" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>İş İlanları</h2>
				<p>Sitemiz üzerinde yer alan birçok meslek dalına ait ilanları ücretsiz olarak görüntüleyip iletişime geçebilirsiniz.Birçok internet sitesinin aksine bize geri dönüşünüzü sağlayabiliyoruz. </p>
				<p><a class="btn btn-secondary" href="/Is/List" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Konut İlanları</h2>
				<p>Birbirinden farklı konutlara istediğiniz zaman kolaylıkla ulaşabilirsiniz.Konut ilanlarında yer alan ekstra kampanyalardan yararlanmak ve daha çok bilgi almak için bizi takipte kalın..</p>
				<p><a class="btn btn-secondary" href="/Home/ListKonut" role="button">View details &raquo;</a></p>
			</div>
		</div>

		<hr>

	</div> <!-- /container -->

</main>

